# Google Cloud SDK
google-cloud-sdk/
google-cloud-sdk-*.tar.gz

# Terraform
.terraform/
terraform-import/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Kubernetes binary
kubectl

# Logs & misc
nohup.out
notes.txt
current
